#canvas{
	box-shadow: 0px 0px 4px 0px #666;
  cursor: crosshair;
}
.wrapper{
	display: inline-flex;
}
.opt-button{
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 5 px;
  margin-bottom: 10 px;
}
.opt-button:hover{
	background-color: #e7e7e7; /* Gray */
}